@import url('https://fonts.googleapis.com/css2?family= Playfair + Display:ital,wght@1,400;1,500 & display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Playfair Display', serif;
}

body{
    width: 100%;
    height: 100vh;
    background-image: url(https://st4.depositphotos.com/20524830/26242/i/600/depositphotos_262422558-stock-photo-internal-painting-of-the-church.jpg);
    background-position: center 93px;
    background-repeat: no-repeat;
    background-size: 100% 130%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #705714;
    scroll-behavior: smooth;
}


.container-auto{
    max-width: 1080px;
    margin: 2px 2px;
    display: flex;
    align-items: center;
    justify-content: center;
}

header{
    background-color: #705714 ;
    width: 83%;
    padding: 6px;
    position: fixed;
    margin-top: -562px;
    margin-left: 20px;
}

.logo,.sociais{
    width: 25%;
}



.menu{
    width: 50%;
}

.menu nav a{
    color: azure;
    padding-right: 45px;
    text-decoration: none;
    font-size: 18px;
    position: relative;
    margin-right: 50px;
    margin-left: 10px;
}

.menu nav a::after{
    content: " ";
    width: 0px;
    height: 4px;
    background-image: linear-gradient(45deg, rgb(194, 151, 9), rgb(139, 139, 55));
    position: absolute;
    top: 20px;
    left: 0;
    transition: width 0.5s;
}

.menu nav a:hover::after{
    width: 60px;
}

.icon{
    width: 90px;
    height: 70px;
    cursor: pointer;
}

.sociais button{
    width: 40px;
    height: 40px;
    background-image: linear-gradient(45deg, rgb(194, 151, 9), rgb(139, 139, 55));
    border: none;
    margin-right: 15px;
    border-radius: 8px;
    cursor: pointer;
}


.sociais button i{
    font-size: 20px;
    color: azure;
    margin: 2px;
}

section{
    margin-top: auto;
}

.container{
    max-width: 1080px;
    margin: 0 auto;
    padding: 6%;  
    top: -10px;
}

form{
    background: #fff;
    max-width: 500px;
    height: 450px;
    padding: 40px;
    border-radius: 20px;
}

form h1{
    text-align: center;
    margin-bottom: 10px;
    color: #d69507;
    font-size: 22pt;
}

form p{
    text-align: center;
    margin: 20px 0;
}

form .input-single{
    position: relative;
    margin: 30px 0;
}

form .input-single label{
    position: absolute;
    left: 0;
    bottom: 5px;
    cursor: text;
    transition: all 0.2s;
    color: #808080;
}

form .input-single .input{
    width: 100%;
    border: 0;
    border-bottom: 2px solid #808080;
    padding: 5px;
    outline: 0;
    font-size: 16px;
}

form .input-single .input:focus{
    border-bottom: 2px solid #d69507;
}

form .input-single .input:focus ~ label,
form .input-single .input:valid ~ label{
    transform: translateY(-24px);
    font-size: 12px;
    color: #2D5966;
}

.btn{
    width: 100%;
    text-align: center;
}

form input[type=submit]{
    padding: 10px 40px;
    border: 0;
    border-radius: 10px;
    background-color: #d69507;
    color: #fff;
    font-size: 14pt;
    cursor: pointer;
}
